{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'css/login.css' %}">
{% endblock customcss %}

{% block title %}
<title>メールを送信しました</title>
{% endblock title %}

{% block content %}
<div class='container'>
  <div class = 'cont'>
      <h1 class="h3 mb-3 font-weight-normal">メール送信完了</h1>
      <p>メールを確認してパスワードを変更してください</p>
    <p class='new'><a href='{% url 'login' %}'>ログイン</a>はこちらから</p>
  </div>
</div>
{% endblock content %}